@model Student

@{
    int w = 10;
}


@{
    int x = 100;
    string name = "Ahmed Ibrahim Elsayed"; 
    if(name =="Ali")
    {

    }
    else
    {
        
    }
}

<h2>this is my View</h2>

<h2>@Model.Name</h2>

<img src="/Images/@Model.Image" />


<div id="div1">
    <p>@name</p>
</div>


<style>
    #div1{ background-color:red}
</style>

<script>

</script>