@model Employee

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Name</li>
        <li class="list-group-item">@Model.Address</li>
        <li class="list-group-item">@Model.Salary</li>
    </ul>
</div>